# opencv-contrib-python>=4.2.0.32
opencv-contrib-python
numpy
tensorflow
imutils
scikit-image
scikit-learn
torch
torchvision
pillow
matplotlib
pandas
tqdm
pyyaml
seaborn
uvicorn
fastapi
python-multipart
hydra-core
gdown
codetiming
